* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  height: 100vh;
  display: flex;
  background-image: url("./city.jpg");
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.cuadrado {
  width: 400px;
  height: 400px;
  background: rgba(70, 131, 180, 0.596);
  margin: auto;
  /* margin: 80px auto; */
  overflow: hidden;
  /* animation-name: animaciones;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
  /* animation-fill-mode: forwards; */
  /* animation-direction: normal; */
  /* animation-fill-mode: forwards; */
  /* animation-delay: 5s; */
  /* animation-play-state: paused; */

  /* animation: name duration timing-function delay
             iteration-count direction fill-mode; */
  animation: animaciones 5s linear infinite;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}

/* .cuadrado:hover {
  animation-play-state: running;
} */

@keyframes animaciones {
  0% {
    transform: rotate(0);
  }
  8% {
    transform: rotate(30deg);
  }
  16% {
    transform: rotate(60deg);
  }
  24% {
    transform: rotate(90deg);
  }
  32% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(150deg);
  }
  48% {
    transform: rotate(180deg);
    clip-path: polygon(
      0% 15%,
      30% 37%,
      15% 0%,
      85% 0%,
      68% 34%,
      100% 15%,
      100% 85%,
      70% 74%,
      85% 100%,
      15% 100%,
      31% 72%,
      0% 85%
    );
    background: rgba(220, 20, 60, 0.459);
  }
  56% {
    transform: rotate(210deg);
  }
  64% {
    transform: rotate(240deg);
  }
  72% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(300deg);
  }
  88% {
    transform: rotate(330deg);
  }
  96% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes animaciones {
  0% {
    transform: scale(0.5) rotate(0);
    background: rgb(255, 0, 0);
  }
  50% {
    transform: scale(1) rotate(180deg);
    background: rgb(242, 255, 0);
  }
  100% {
    transform: scale(0.5) rotate(360%);
    background: rgb(72, 255, 0);
  }
} */
/* @keyframes animaciones {
  from {
    transform: scale(0.5) translate(50%);
    background: red;
  }
  to {
    transform: scale(1);
    background: blue;
  }
} */

.spiderman {
  width: 200px;
  margin: 0 auto;
  display: block;
  /* background: crimson; */
  animation: spiderMove 5s infinite, spiderBG 3s infinite;
}

@keyframes spiderMove {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0) rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: translateY(-50px);
  }
}

/* @keyframes spiderBG {
  from {
    background: rgb(220, 20, 60);
    box-shadow: 2px 5px 10px 8px rgba(220, 20, 60, 0.5);
  }
  to {
    background: rgb(70, 130, 180);
    box-shadow: 4px 5px 6px 10px rgba(220, 20, 60, 0.2);
  }
} */
/* @keyframes spiderMove {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
} */

/* @keyframes spiderMove { 
 0% {
    background: black;
  }
  100% {
    background: black;
  }

 30% {
    background: crimson;
    transform: scale(1.2);
  }
  70% {
    background: steelblue;
    transform: translate(70%);
  }
  100% {
    background: blueviolet;
  }
 } */
